* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
}
